/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*= require materialize.min
*/

/*Import Google Icon Font */
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.row ul.achievements>*>li {
    list-style-type: disc;
    margin-left: 20px;
}

#modal1.modal {
    width: 70%;
}

.user_menu {
    margin-top: 15px;
    margin-right: 20px;
    display: inline-block;
}

#map {
    height: 300px;
    width:100%;
}

.content {
    overflow-x: scroll;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/* Custom CSS */

body {
    background: #efefef;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    margin-top: 70px;
    flex: 1 0 auto;
}

main h1 {
    font-size: 3rem;
}

.navbar-default, .navbar-static-top {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top:0;
    width:100%;
    background: #577276;
    color:black;
}

.card .card-title {
    font-size: 17px;
}

#modal1 .row, #modal1 .row .col {
    padding: 0;
}

#modal1 .row .col {
    padding-right:10px;
}

a {
    text-decoration: none;
    background: none;
    background-color: rgba(0,0,0,0);
}

.side-nav.fixed {
    top: 70px;
    background: pink;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.row, .col {
    margin-top:15px;
}

footer {
    margin-top: 15px;
}

